{% extends "base.html" %}


{% block title %}
关于DMS设备管理系统
{% endblock %}

{% block content %}
<div class="jumbotron">
   <div class="container">
      <h1>DMS设备管理系统</h1>
      <p>本系统由北京理工大学信息学院电子工程系信息安全与对抗技术实验室提供技术支持</p>
      <h4>版本信息：DMS_V1.0</h4>
   </div>
</div>

<div id="footer">
	<div class="copyright" >
			</br></br></br></br></br></br>
			<p class="text-center">&copy; Beijing Forest Studio. ALL rights reserved.</p>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}