<!DOCTYPE html>
<html>
<head>
<title>
{% block title%}
{% endblock %}
伊小熙我爱你</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/static/css/app.css" rel="stylesheet">
<style type="text/css">
    #wrap{
    display: flex;
    justify-content: space-around;
}
</style>
</head>
<body>
<div class="container wrap" style="width: 100%; height: 100%">
    <img src="/static/img/left.jpeg" width="400px" height="600px">
    <img src="/static/img/center.jpeg" width="400px" height="400px">
    <img src="/static/img/right.jpeg" width="400px" height="600px">
</div>

{%block content %}
{% endblock %}
<script src="/static/js/jquery.min-1.11.2.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block scripts %}
<script type="text/javascript">
</script>
{% endblock %}
</body>
</html>
