{% extends "base.html" %}
{% block title %}
密码机证书操作
{% endblock %}

{% block content %}
<style type="text/css">
    #main-nav {
    margin-left: 1px;
    }

    #main-nav.nav-tabs.nav-stacked > li > a {
        padding: 10px 8px;
        font-size: 12px;
        font-weight: 400;
        color: #347ab6;
        background: #fff;
        border: 1px solid #D5D5D5;
        border-radius: 4px;
    }

    #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
        color: #fff;
        background: #347ab6;
        background: -webkit-linear-gradient(top, #347ab6 0%);
    }

    
    #main-nav.nav-tabs.nav-stacked > li {
        margin-bottom: 4px;
    }
    
    .scrollspy {
        height:478px;
        overflow: auto;
        position: relative;
    }

    .tScroll {
        /*min-height:101%;*/
        min-width: 100%;
    } 
</style>

    <div class="modal fade" id="div-rename2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">证书重命名</h4>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    <input name='nonce' type='hidden' value="{{ nonce }}">
                    <div class="panel-body">
                        <p>
                            目前证书名：
                            <input type="text" name="oldname"  class="form-control host-input"  readonly/>
                        </p>
                        <p>
                            请输入新证书名：
                            </br>
                            <input type="text" class="form-control host-input"  name="ip">
                        </p>
                    </div>
                    <div class="panel-footer">
                        <button for="host" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="div-btn-rename2" type="button" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" id="partrefresh">
        <div class="panel-heading">
            <h4 class="panel-title">证书信息</h4>
        </div>
        <form method="POST" id="deliverparameter" enctype="multipart/form-data">
            <div class="panel-body">
                <input type="hidden" name="choosecertip" id="inputdata" value="{{ certip }}">
                <div class="form-gruop">
                    <label class="control-label">国家：中国</label>
                </div>
                <div class="form-group">
                    <label class="control-label">省</label>
                        <input type="text" class="form-control host-input" name="province" value="{{ province }}"  placeholder="province" readonly>    
                </div>
                <div class="form-group">
                    <label class="control-label">直辖市</label>
                        <input type="text" class="form-control host-input" name="city" value="{{ city }}"  placeholder="city" readonly>    
                </div>
                <div class="form-group">
                    <label class="control-label">组织</label>
                        <input type="text" class="form-control host-input" name="organization" value="{{ organ }}" placeholder="Organization" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label">部门</label>
                        <input type="text" class="form-control host-input" name="department" value="{{ depart }}" placeholder="Department" readonly>    
                </div>
                <div class="form-group">
                    <label class="control-label">名称</label>
                    <input type="text" class="form-control host-input" name="name" value="{{ Name }}" placeholder="name" readonly>
                </div> 
                <div class="form-group">
                    <label class="control-label">邮箱</label>
                    <input type="email" required class="form-control host-input" name="email" value="{{ email }}" placeholder="email" readonly>
                </div>
            </div>
            <div class="button-bar" align="center">
                <button type="button" class="btn btn-danger" id="btn-delete-certificate2" >删除</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-warning" id="btn-rename2" >重命名</button>       
            </div>
            <br/>
        </form>
    </div>
</div>

{% endblock %}
<script src="/static/js/bootstrap-scrollspy.js"></script>

{% block scripts %}
<script>
//-------------------SwitchStatusCode()
function SwitchStatusCode(data){
    switch(data)
    {
        case '1': alert('不存在该隧道'); break;
        case '2': alert('该隧道已存在'); break;
        case '3': alert('签名验证失败'); break;
        case "6": alert('解密出的明文数据不合法'); break;
        case '7': alert('该项操作当前被禁止'); break;
        case '8': alert('获取加密统计数据失败'); break;
        case '10': alert('添加隧道安全策略时失败'); break;
        case '11': alert('删除隧道安全策略时失败'); break;
        case '12': alert('重置装置失败'); break;
        case '13': alert('重置隧道失败'); break;
        case '14': alert('获取日志文件长度失败'); break;
        case '15': alert('读取日志文件失败'); break;
        case '17': alert('操作冲突'); break; 
        case '-2': alert('请求超时'); break;
        case '-1': alert('返回数据包错误'); break;
        case '-3': alert('输入信息有误'); break;
        case '0': alert('操作成功'); break;                
        default: alert('操作异常');
    }
}

//---------------delete_certification
$('#btn-delete-certificate2').click(function(e){
    choosecertip=document.getElementById('inputdata').value
    if (choosecertip != ""){
            $.post('/privateequipment/deletecertification/{{ machine.id }}', {'nonce':'{{ nonce }}' ,
            'choosecertip':choosecertip,
        }, function(data){
            var data = $.parseJSON(JSON.stringify(data))
            if (data == "0"){
                location.reload()
            }else{
               SwitchStatusCode(data)
            }
        })
    }else{
        alert("请先选择要删除的证书！");
    }
});


//------------rename_certification
$('#btn-rename2').click(function () {
    oldname=document.getElementById('inputdata').value
    if (oldname != ""){
        load_rename_modal(oldname);
    }else{
        alert("请先选择要修改的证书！");
    }
})

function load_rename_modal(oldname){
    var modal_form = $('#div-rename form');

    modal_form.find('input[name=oldname]').val(oldname)

    $('#div-rename form').attr('action','/privateequipment/renamecertification/{{machine.id}}')
    $('#div-rename').modal('toggle');
}


$('#div-btn-rename2').click(function(e){
    e.preventDefault();
    $.post($('#div-rename2 form').attr('action'), $('#div-rename2 form').serialize(), function(data){
        var data = $.parseJSON(JSON.stringify(data))
        if (data != "0"){
            SwitchStatusCode(data)
            $('#div-rename').modal("hide")
        }else{
             location.reload()
        }
    })
});




</script>
{% endblock %}