{% extends "base.html" %}
{% import "macros.html" as macros %}
{% import "macrorecord.html" as macrorecord %}
{% block title %}
店铺管理
{% endblock %}

{% block content %}
<style type="text/css">
    .scroll-spy {
        height: 768px;
        overflow-x: auto;
        overflow-y: auto;
        position: relative;
    }
    *
    {
        margin:0px;
        padding:0px;
    }
    .zhezhao
    {
      width:100%;
      height:100%;
      background-color:#000;
      filter:alpha(opacity=80);
      -moz-opacity:0.5;
      opacity:0.5;
      position:fixed;
      left:0px;
      top:0px;
      display:none;
      z-index:1000;
     }
    .login
    {
      width:280px;
      height:180px;
      position:fixed;
      top:35%;
      left:45%;
      background-image: url(/static/img/zhuan.gif);
      background-repeat: no-repeat;
      display:none;
      z-index:1500;
     }
    #wrap {
        display: flex;
        align-items: center;
    }
    .input_box {
        margin-right: 20px;
    }
    .tScroll {
       /*  min-height:100%;  */
        min-width: 200%;
    }
    .input-container-left {
        display: flex;
        width: 260px;
        align-items: center;
        float: left;
    }
    .input-container-right {
        display: flex;
        width: 260px;
        align-items: center;
        float: right;
        margin-left: 20px;
    }
    .input-label {
        width: 70px;
    }
    .input-content {
        width: 190px;
        height: 30px;
    }
    .edit-box {
        width: 200px;
    }
    .btn-edit-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        padding: 2px 3px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .btn-edit-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        padding: 2px 3px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .btn-edit-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
        padding: 2px 3px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .td {
        align: "center"
    }




</style>

<div class="col-md-9" style="padding-right: 1em; width: 100% ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                  商品基本信息
            </h4>
        </div>
        <div class="panel-body">
            <div class="button-bar" style="float:left;">
                <button type="button" class="btn btn-sm btn-primary btn-create" id="btn-record-refresh">一键更新</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-danger" id="btn-delete-good">设置Cookie</button>&nbsp;&nbsp;&nbsp;
               <!--  <button type="button" class="btn btn-sm btn-warning" id="btn-import-machine">导入密码机</button>&nbsp;&nbsp;&nbsp; -->
            </div>
            <div class="button-bar" style="float:right">
                <a href="/pdd/record"><button type="button" class="btn btn-sm btn-primary">显示全部订单</button></a>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm glyphicon glyphicon-refresh"></button>
            </div>
            </br></br>
            <div id="search">
                <input name='nonce' type='hidden' value="{{ nonce }}">
                <div id="wrap" class="form-group" style="width: 1200px" align="center">
                    <label class="control-label" style="width: 50px">订单状态</label>
                    <select name="search_order_status" id="search_order_status" style="width: 100px" class="form-control host-input input-box" >
                        {% if status == 0 %}
                            <option value="0" selected="selected">全部</option>
                        {% else %}
                            <option value="0">全部</option>
                        {% endif %}
                        {% if status == 1 %}
                            <option value="0" selected="selected">待付款</option>
                        {% else %}
                            <option value="0">待付款</option>
                        {% endif %}
                        {% if status == 2 %}
                            <option value="0" selected="selected">待发货</option>
                        {% else %}
                            <option value="0">待发货</option>
                        {% endif %}
                        {% if status == 3 %}
                            <option value="0" selected="selected">待收货</option>
                        {% else %}
                            <option value="0">待收货</option>
                        {% endif %}
                        {% if status == 4 %}
                            <option value="0" selected="selected">待评价</option>
                        {% else %}
                            <option value="0">待评价</option>
                        {% endif %}
                        {% if status == 5 %}
                            <option value="0" selected="selected">已取消</option>
                        {% else %}
                            <option value="0">已取消</option>
                        {% endif %}
                        {% if status == 6 %}
                            <option value="0" selected="selected">其他</option>
                        {% else %}
                            <option value="0">其他</option>
                        {% endif %}
                    </select>
                    <input type="text" class="form-control host-input input_box"  name="search_order_id" id="search_order_id"  width="200px" value="{{ search_order_id}}" placeholder="订单号">
                    <input type="text" class="form-control host-input input_box"  name="search_order_name" id="search_order_name" width="200px"  value="{{ search_order_name}}" placeholder="收件人">
                    <input type="text" class="form-control host-input input_box"  name="search_order_address" id="search_go" width="200px"  value="{{ search_order_address}}" placeholder="收件地址">
                    <input type="text" class="form-control host-input input_box"  name="search_order_mobile" id="search_proxy_shop" width="200px" value="{{ search_order_mobile}}" placeholder="联系电话">
                    <label class="control-label input-label" style="width: 50px">快递</label>
                    <select name="search_order_express" id="search_order_express" style="width: 100px" class="form-control host-input input-box">
                        {% if status == 0 %}
                            <option value="0" selected="selected">全部</option>
                        {% else %}
                            <option value="0">全部</option>
                        {% endif %}
                        {% if status == 1 %}
                            <option value="0" selected="selected">中通</option>
                        {% else %}
                            <option value="0">中通</option>
                        {% endif %}
                        {% if status == 2 %}
                            <option value="0" selected="selected">邮政</option>
                        {% else %}
                            <option value="0">邮政</option>
                        {% endif %}
                        {% if status == 3 %}
                            <option value="0" selected="selected">圆通</option>
                        {% else %}
                            <option value="0">圆通</option>
                        {% endif %}
                        {% if status == 4 %}
                            <option value="0" selected="selected">申通</option>
                        {% else %}
                            <option value="0">申通</option>
                        {% endif %}
                        {% if status == 5 %}
                            <option value="0" selected="selected">顺丰</option>
                        {% else %}
                            <option value="0">顺丰</option>
                        {% endif %}
                        {% if status == 6 %}
                            <option value="0" selected="selected">其他</option>
                        {% else %}
                            <option value="0">其他</option>
                        {% endif %}
                    </select>
                    <button type="button" id="btn-search-order" class="btn btn-sm btn-primary btn-search-order" >查找</button>
                </div>
            </div>

            <div id="imformation" class="scroll-spy" style="width: 100%" align="center">

                <div class="modal fade" id="div-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">编辑商品</h4>
                            </div>
                            <div class="panel-body">
                                <form method="POST" action="" enctype="multipart/form-data">
                                    <input name='nonce' type='hidden' value="{{ nonce }}">
                                    <div class="panel-body">
                                        <div class="form-group input-container-left">
                                            <label for="host" class="control-label input-label">商品ID</label>
                                            <input type="text" class="form-control host-input input-content"  name="edit_good_id" id="edit_good_id" placeholder="商品ID" readonly required>
                                        </div>
                                        <div class="form-group input-container-right">
                                            <label class="control-label input-label">商品名称</label>
                                            <input type="text" name="edit_good_name" class="form-control host-input input-content" placeholder="商品名称"></input>
                                        </div>
                                        <div class="form-group input-container-left">
                                            <label class="control-label input-label">有无视频</label>
                                            <select name="edit_has_video" id="edit_has_video" class="form-control host-input input-content" >
                                                <option value="0" selected = "selected">否</option>
                                                <option value="1">是</option>
                                            </select>
                                        </div>
                                        <div class="form-group input-container-right">
                                            <label class="control-label input-label">类目</label>
                                            <input type="text" name="edit_category" class="form-control host-input input-content" placeholder="类目"></input>
                                        </div>
                                        <div class="form-group input-container-left">
                                            <label class="control-label input-label">商品简介</label>
                                            <input type="text" class="form-control host-input input-container input-content" name="edit_description" id="edit_description" placeholder="简介">
                                        </div>
                                        <div class="form-group input-container-right">
                                            <label class="control-label input-label">优惠劵</label>
                                            <input type="number" class="form-control host-input input-content" name="edit_coupon" id="edit_coupon" placeholder="0.0" step="0.01">
                                        </div>
                                        <div class="form-group input-container-left" >
                                            <label class="control-label input-label">sku规格</label>
                                            <input type="text" class="form-control host-input input-content" name="edit_sku_description" id="edit_sku_description"  placeholder="sku规格">
                                        </div>
                                        <div class="form-group input-container-right" >
                                            <label class="control-label input-label">代发店铺</label>
                                            <input type="text" class="form-control host-input input-content" name="edit_proxy_shop" id="edit_proxy_shop">
                                        </div>
                                        <HR/>
                                        <div class="form-group input-container-left" >
                                            <label class="control-label input-label">sku链接</label>
                                            <input type="url" class="form-control host-input input-content" name="edit_sku_url" id="edit_sku_url"  placeholder="sku详情页链接">
                                        </div>
                                        <div class="form-group input-container-right" >
                                            <label class="control-label input-label">售价</label>
                                            <input type="number" class="form-control host-input input-content" name="edit_price" id="edit_price"  placeholder="0.0" step="0.01">
                                        </div>
                                        <HR/>
                                        <div class="form-group  input-container-left">
                                            <label class="control-label input-label">代发链接</label>
                                            <input type="url" class="form-control host-input input-content" name="edit_proxy_url" id="edit_proxy_url"  placeholder="代发链接">
                                        </div>
                                        <div class="form-group input-container-right">
                                            <label class="control-label input-label">成本</label>
                                            <input type="number" class="form-control host-input input-content" name="edit_cost" id="edit_cost" placeholder="0.0" step="0.01">
                                        </div>
                                        <div class="form-group input-container-left">
                                            <label class="control-label input-label">快递</label>
                                            <input type="text" class="form-control host-input input-content" name="edit_express" id="edit_express" placeholder="快递">
                                        </div>
                                        <div class="form-group input-container-right">
                                            <label class="control-label input-label">邮费</label>
                                            <input type="number" class="form-control host-input input-content" name="edit_postage" id="edit_postage" placeholder="0.0" step="0.01">
                                        </div>
                                        <div class="form-group input-container-left">
                                            <label class="control-label input-label">发货地址</label>
                                            <input type="text" class="form-control host-input input-content" name="edit_address" id="edit_address">
                                        </div>
                                        <div class="form-group input-container-right">
                                            <label class="control-label input-label">产地</label>
                                            <input type="text" class="form-control host-input input-content" name="edit_produce" id="edit_produce">
                                        </div>
                                        <div class="form-group input-container-left">
                                            <label class="control-label input-label">赠品价值</label>
                                            <input type="number" class="form-control host-input input-content" name="edit_prize" id="edit_prize" placeholder="0.0" step="0.01">
                                        </div>
                                         <div class="form-group input-container-right">
                                            <label class="control-label input-label">日常限价</label>
                                            <input type="number" class="form-control host-input input-content" name="edit_day_limit" id="edit_day_limit"  placeholder="0.0" step="0.01">
                                        </div>
                                         <div class="form-group input-container-left">
                                            <label class="control-label input-label">活动限价</label>
                                            <input type="number" class="form-control host-input input-content" name="edit_activity_limit" id="edit_activity_limit"  placeholder="0.0" step="0.01">
                                        </div>
                                        <div class="form-group input-container-right">
                                            <label class="control-label input-label">资质文件</label>
                                            <input type="text" class="form-control host-input input-content" name="edit_qualification" id="edit_qualification" placeholder="资质文件">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control host-input" name="edit_extra" id="edit_extra" placeholder="备注">
                                        </div>
                                        <input name="edit_sku_id" type="hidden">
                                        <input name="edit_proxy_id" type="hidden">
                                    </div>
                                    <div class="modal-footer">
                                        <button for="host" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button id="div-btn-edit" type="button" class="btn btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="div-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">设置cookies</h4>
                            </div>
                            <form method="POST" action="/record/cookie" enctype="multipart/form-data">
                                <div class="panel-body">
                                    <input name='nonce' type='hidden' value="{{ nonce }}">
                                    <div class="form-group">
                                        <textarea type="text" name="set_cookie_value" id="set_cookie_value" class="form-control host-input"></textarea>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button id="div-btn-delete" type="button" class="btn btn-primary">确定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="div-delete-sku" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">删除SKU</h4>
                            </div>
                            <form method="POST" action="/goods/delete/sku" enctype="multipart/form-data">
                                <div class="panel-body">
                                    <input name='nonce' type='hidden' value="{{ nonce }}">
                                    <div class="form-group">
                                        <label class="control-label">确定要删除SKU和对应代发链接吗？</label>
                                        <input name="delete_sku_id" type="hidden">
                                        <input name="delete_sku_good_id" type="hidden">
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button id="div-btn-delete-sku" type="button" class="btn btn-primary">删除</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="div-delete-proxy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">删除代发链接</h4>
                            </div>
                            <form method="POST" action="/goods/delete/proxy" enctype="multipart/form-data">
                                <div class="panel-body">
                                    <input name='nonce' type='hidden' value="{{ nonce }}">
                                    <div class="form-group">
                                        <label class="control-label">确定要删除代发链接吗？</label>
                                        <input name="delete_proxy_sku_id" type="hidden">
                                        <input name="delete_proxy_id" type="hidden">
                                        <input name="delete_proxy_good_id" type="hidden">
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button id="div-btn-delete-proxy" type="button" class="btn btn-primary">删除</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                   <table class="table table-bordered table-responsive tScroll" id="table1">
                        <thead>
                        <tr>
                            <th><input onclick="selectAll()" type="checkbox" name="controlAll" style="controlAll" id="controlAll"/></th>
                            <!-- <th>选择</th> -->
                            <th>定单号</th>
                            <th>订单状态</th>
                            <th>下单时间</th>
                            <th>订单信息</th>
                            <th>快递单号</th>
                            <th>快递状态</th>
                            <th>快递公司</th>
                            <th>收件人</th>
                            <th>电话</th>
                            <th>收件地址</th>
                            <th>发货时间</th>
                            <th>付款方式</th>
                            <th>付款时间</th>
                            <th>付款状态</th>
                            <th>商家</th>
                            <th>商家链接</th>
                        </tr>
                       </thead>
                        <tbody>
                            {% for good in goods %}
                                <tr style="overflow-x: auto;" onClick="select_change({{ good.good_id }})">
                                <td> <input type="checkbox" name="select_goods" class="checkboxes" value="{{good.good_id}}" onclick="if(this.checked){this.parentNode.parentNode.style.background='#e5f5f5';}else{this.parentNode.parentNode.style.background=''}"></td>
                                <td class="order_sn" >{{good.order_sn}}</td>
                                <td class="order_status_str">{{ good.order_status_str}}</td>
                                <td class="order_time_str">{{good.order_time_str}}</td>
                                <td class="order_goods">{{ good.goods }}</td>
                                <td class="express_id">{{good.express_id}}</td>
                                <td class="express_status_str">{{good.express_status_str}}</td>
                                <td class="express_company">{{good.express_company}}</td>
                                <td class="receive_name">{{good.receive_name}}</td>
                                <td class="mobile" style="width: 100px">{{good.mobile}}</td>
                                <td class="express_address">{{ good.express_address }}</td>
                                <td class="send_time_str">{{ good.send_time_str }}</td>

                                <td class="pay_way">{{good.pay_way}}</td>
                                <td class="pay_time_str">{{good.pay_time_str}}</td>
                                <td class="pay_status_str">{{ good.pay_status_str }}</td>
                                <td class="mall_name">{{ good.mall_name }}</td>
                                <td class="mall_url"><a href="{{good.mall_url}}" target="_blank">商家链接</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                   </table>
                {% if pagination %}
                    {% if viewfunc==".record" %}
                    <div calss="pagination" align="center">
                        {{ macrorecord.pagination_widget(pagination, viewfunc, status, search_order_id, search_order_name, search_order_address, search_order_mobile, search_order_express) }}
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<body onload="AlertFunc()">
    <input id="AlertInfo" value="{{AlertInfo}}" type="hidden">
</body>

<div class="zhezhao" id="zhezhao"></div>
<div class="login" id="login"></div>

    {% for good in goods %}
    <input type="hidden" value="{{ good.good_id }}" name="global_good_id">
    {% endfor %}

{% endblock %}

{% block scripts %}
<script src="/static/js/bootstrap-treeview.js"></script>
<script type="text/javascript">
function AlertFunc() {
    var info=document.getElementById("AlertInfo").value;
    if(info !== "") {
       alert(info);
    }
}

//------------refresh
$('.glyphicon-refresh').click(function(e){
    var nodeall = document.getElementById('inputdata').value
    if(nodeall != ""){
        $.post('/machineshow', {
            firstnode:firstnode,
            secondnode:secondnode,
            thirdnode:thirdnode,
            fourthnode:fourthnode,
            'nonce':'{{ nonce }}',
        }, function(data){
            $("#imformation").html(data);
        })
    }else{
        location.reload()
    }
});


$(".btn-search-order").click(function () {
    const elem = $(this).parent();
    const search_order_id = elem.find('input[name=search_order_id]').val();
    const search_order_name = elem.find('input[name=search_order_name]').val();
    const search_order_address = elem.find('input[name=search_order_address]').val();
    const search_order_mobile = elem.find('input[name=search_order_mobile]').val();
    const search_order_status = document.getElementById("search_order_status");
    const status = search_order_status.value;
    const search_order_express = document.getElementById("search_order_express");
    const express = search_order_express.value;
    window.location.href = "/pdd/record?" + "sn=" + search_order_id
        + "&receive_name=" + search_order_name
        + "&receive_address=" + search_order_address
        + "&mobile=" + search_order_mobile
        + "&status=" + status
        + "&express=" + express
});



//----------judgeoperationresult
function SwitchStatusCode(data){
    switch(data)
    {
        default: alert('操作异常');
    }
}

var arr = new Array()

const goods_id = document.getElementsByName("global_good_id");

function select_change(change) {
    var oObj = window.event.srcElement;
    const id_index = 1
    //alert(change.tagName.toLowerCase());
    if(oObj.tagName.toLowerCase() == "td"){
        var oTr = oObj.parentNode;
        if(oTr.style.backgroundColor == ''){
           oTr.style.backgroundColor = '#e5f5f5';
           oTr.tag = true;
           var tr = event.srcElement.parentElement;
           tr.cells[0].children[0].checked=true;
           var id = tr.cells[id_index].innerHTML;
           arr.splice(change,0,id)
        }else{
           oTr.style.backgroundColor = '';
           oTr.tag = true;
           var tr = event.srcElement.parentElement;
           tr.cells[0].children[0].checked=false;
           var id = tr.cells[id_index].innerHTML;
           arr.indexOf(id)
           arr.remove(id)
        }
    }
}

Array.prototype.indexOf = function(val) {
    for (var i = 0; i < this.length; i++) {
        if (this[i] == val) return i;
    }
    return -1;
};

Array.prototype.remove = function(val) {
    var index = this.indexOf(val);
    if (index > -1) {
        this.splice(index, 1);
    }
};



function create() {
    $('#div-create').modal("toggle")
};

$('#btn-record-refresh').click(function(e){
    e.preventDefault();
    var zhezhao=document.getElementById("zhezhao");
    var login=document.getElementById("login");
    zhezhao.style.display="block";
    login.style.display="block";
    $.post('/record/refresh', {
            'nonce':'{{ nonce }}',
        }, function(data){
            window.location.href = "/pdd/record"
        })
});

//--------------delete good
$('#btn-delete-good').click(function () {
    var elem = $(this).parent().parent();
    var id = elem.find('input[name=id]').val();
    var obj= document.getElementsByName('select_goods');
    var goods_ids = '';
    var j = 0;
    for(var i=0; i < obj.length; i++) {
        if(obj[i].checked) {
            goods_ids += obj[i].value+',';
            j++;
        }
    }
    load_delete_machine(goods_ids);
});

function load_delete_machine(goods_ids){
    var modal_form = $('#div-delete form');
    modal_form.find('input[name=choose_goods_ids]').val(goods_ids)
    modal_form.attr('action','/record/cookie')
    $('#div-delete').modal('toggle');
}

$('#div-btn-delete').click(function(e){
    e.preventDefault();
    $.post($('#div-delete form').attr('action'), $('#div-delete form').serialize(), function(data){
        var data = $.parseJSON(JSON.stringify(data))
        if (data == "0"){
            alert("设置成功")
            $('#div-delete').modal('hide');

        }
    })
});

$('#div-btn-edit').click(function(e){
    e.preventDefault();
    $.post($('#div-edit form').attr('action'), $('#div-edit form').serialize(), function(data){
        var data = $.parseJSON(JSON.stringify(data))
        if (data == "1"){
            location.reload()
        }else{
            SwitchStatusCode(data)
        }
    })
});

function search_test() {
    const obj1=document.getElementById("search_good_id").value;
    const obj2=document.getElementById("search_good_title").value;
    const obj3=document.getElementById("search_proxy_id").value;
    const obj4=document.getElementById("search_proxy_shop").value;
    if (obj1 == "" && obj2 == "" && obj3 == "" && obj4 == "") {
        alert("填写搜索条件");
        return false;
    }
    return true
}
</script>
{% endblock %}
